<a href="https://colab.research.google.com/github/sunidhi-singh-nyc/tz/blob/main/cspine_full_cohort_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
df = pd.read_csv("tz_full.csv")

# ***data set organization***

In [ ]:
df.columns

Index(['mrn ', 'age ', 'sex ', 'injury_date', 'injury_mech',
       'injury_mech_code', 'injury_to_moi', 'time_moi_ed', 'cspine_injury',
       'cspine_injury_level', 'paralysis', 'ao', 'imaging_type',
       'imaging_code', 'cord_signal_change', 'asia_grade', 'other_injuries',
       'other_injuries_code', 'phx', 'admit_bp', 'admit_sbp', 'admit_dbp',
       'admit_hr', 'admit_o2', 'admit_o2_code', 'admit_rr', 'comments',
       'asa_score_preop', 'procedure', 'admit_date', 'cohort', 'surgery_code',
       'surgery_date', 'days_to_surgery', 'death_date', 'los', 'cod',
       'dead_or_alive', 'comments.1', 'dyspnea_on_pres', 'hotn_on_pres',
       'brady_on_pres', 'other_on_pres', 'pre_op_hotn', 'pre_op_brady',
       'pre_op_desat', 'pre_op_febrile', 'pre_op_other',
       'post_op_complication', 'days_surgery_to_complication', 'post_op_hotn',
       'post_op_brady', 'post_op_desat', 'post_op_febrile', 'post_op_other',
       'days_to_death_after_surgery', 'cod_pneumonia', 'cod_resp_failure',
       'cod_hotn', 'received_any_icu_intervention', 'vent', 'trach',
       'inotrope', 'discharge_date', 'payment', 'total_bill', 'cost_surgery',
       'cost_radiology', 'cost_waived', 'cost_outstanding'],
      dtype='object')

In [ ]:
df.describe()

            age   injury_mech_code  ...   cost_waived  cost_outstanding
count  75.000000         69.000000  ...  5.900000e+01      5.700000e+01
mean   37.773333          4.159420  ...  9.432985e+05      1.171775e+06
std    13.287439          1.079531  ...  1.780813e+06      2.387016e+06
min    10.000000          2.000000  ...  0.000000e+00      0.000000e+00
25%    28.500000          3.000000  ...  0.000000e+00      0.000000e+00
50%    37.000000          5.000000  ...  0.000000e+00      0.000000e+00
75%    45.500000          5.000000  ...  9.644457e+05      5.687357e+05
max    72.000000          6.000000  ...  6.528894e+06      9.732488e+06

[8 rows x 16 columns]

In [ ]:
df.groupby(['cohort']).size()

cohort
1    24
2    22
3    12
4    17
dtype: int64

In [ ]:
df.groupby(['injury_mech_code']).size()

injury_mech_code
2.0     2
3.0    25
4.0     6
5.0    32
6.0     4
dtype: int64

In [ ]:
df.groupby(['sex ']).size()

sex
F    10
M    65
dtype: int64

In [ ]:
df.groupby(['cspine_injury_level']).size()

cspine_injury_level
C1-4     19
C5-T1    52
L         1
dtype: int64

In [ ]:
df.groupby(['paralysis']).size()

paralysis
n    33
y    41
dtype: int64

In [ ]:
df.groupby(['asia_grade']).size()

asia_grade
A    35
B    18
C     4
D     3
E     9
dtype: int64

In [ ]:
df.groupby(['other_injuries_code']).size()

other_injuries_code
n      25
unk    11
y      34
dtype: int64

In [ ]:
df.groupby(['surgery_code']).size()

surgery_code
n    23
y    52
dtype: int64

In [ ]:
df.groupby(['dead_or_alive']).size()

dead_or_alive
alive    33
dead     42
dtype: int64

In [ ]:
df.groupby(['dyspnea_on_pres']).size()

dyspnea_on_pres
n    52
y    16
dtype: int64

In [ ]:
df.groupby(['hotn_on_pres']).size()

hotn_on_pres
n    47
y    21
dtype: int64

In [ ]:
df.groupby(['brady_on_pres']).size()

brady_on_pres
n    42
y    26
dtype: int64

In [ ]:
df.groupby(['other_on_pres']).size()

other_on_pres
n    42
y    26
dtype: int64

In [ ]:
df.groupby(['pre_op_hotn']).size()

pre_op_hotn
n    33
y    35
dtype: int64

In [ ]:
df.groupby(['pre_op_desat']).size()

pre_op_desat
n    42
y    25
dtype: int64

In [ ]:
df.groupby(['pre_op_brady']).size()

pre_op_brady
n    40
u     1
y    27
dtype: int64

In [ ]:
df.groupby(['pre_op_other']).size()

pre_op_other
n    50
y    17
dtype: int64

In [ ]:
df.groupby(['pre_op_febrile']).size()

pre_op_febrile
n    59
y     8
dtype: int64

In [ ]:
df.groupby(['post_op_complication']).size()

post_op_complication
n    16
y    29
dtype: int64

In [ ]:
df.groupby(['post_op_desat']).size()

post_op_desat
n    21
y    22
dtype: int64

In [ ]:
df.groupby(['post_op_brady']).size()

post_op_brady
n    34
y     9
dtype: int64

In [ ]:
df.groupby(['post_op_febrile']).size()

post_op_febrile
n    35
y     8
dtype: int64

In [ ]:
df.groupby(['post_op_other']).size()

post_op_other
n    22
y    21
dtype: int64

In [ ]:
df.groupby(['cod_pneumonia']).size()

cod_pneumonia
n    34
y     8
dtype: int64

In [ ]:
df.groupby(['cod_resp_failure']).size()

cod_resp_failure
n     5
y    37
dtype: int64

In [ ]:
df.groupby(['cod_hotn']).size()

cod_hotn
n     8
y    34
dtype: int64

In [ ]:
df.groupby(['received_any_icu_intervention']).size()

received_any_icu_intervention
n    26
y    45
dtype: int64

## ***analysis by outcome***

In [ ]:
table = df.groupby('dead_or_alive')['age '].describe()
table

               count       mean        std   min    25%   50%    75%   max
dead_or_alive
alive           33.0  35.333333  14.043830  10.0  24.00  36.0  43.00  62.0
dead            42.0  39.690476  12.496806  19.0  31.25  37.5  45.75  72.0

In [ ]:
df.columns

Index(['mrn', 'age', 'sex', 'injury_date', 'injury_mech', 'injury_mech_code',
       'injury_to_moi', 'time_moi_ed', 'cspine_injury', 'cspine_injury_level',
       'paralysis', 'ao', 'imaging_type', 'imaging_code', 'cord_signal_change',
       'asia_grade', 'other_injuries', 'other_injuries_code', 'phx',
       'admit_bp', 'admit_sbp', 'admit_dbp', 'admit_hr', 'admit_o2',
       'admit_o2_code', 'admit_rr', 'comments', 'asa_score_preop', 'procedure',
       'admit_date', 'cohort', 'surgery_code', 'surgery_date',
       'days_to_surgery', 'death_date', 'los', 'cod', 'dead_or_alive',
       'comments.1', 'dyspnea_on_pres', 'hotn_on_pres', 'brady_on_pres',
       'other_on_pres', 'pre_op_hotn', 'pre_op_brady', 'pre_op_desat',
       'pre_op_febrile', 'pre_op_other', 'post_op_complication',
       'days_surgery_to_complication', 'post_op_hotn', 'post_op_brady',
       'post_op_desat', 'post_op_febrile', 'post_op_other',
       'days_to_death_after_surgery', 'cod_pneumonia', 'cod_resp_failure',
       'cod_hotn', 'received_any_icu_intervention', 'vent', 'trach',
       'inotrope', 'discharge_date', 'payment', 'total_bill', 'cost_surgery',
       'cost_radiology', 'cost_waived', 'cost_outstanding'],
      dtype='object')

In [ ]:
table10 = df.groupby('dead_or_alive')['injury_to_moi'].describe()
table10

               count      mean       std   min  25%  50%  75%   max
dead_or_alive
alive           31.0  3.946129  3.772312  0.33  1.0  3.0  5.5  17.0
dead            39.0  3.053590  4.092237  0.25  0.5  1.5  3.0  18.0

In [ ]:
table10 = df.groupby('dead_or_alive')['days_to_surgery'].describe()
table10

               count      mean       std  min  25%  50%   75%   max
dead_or_alive
alive           28.0  4.892857  5.845792  1.0  1.0  2.0  5.25  22.0
dead            20.0  5.150000  7.815470  1.0  1.0  2.0  4.00  31.0

In [ ]:
df.columns = df.columns.str.replace(' ', '')

pd.crosstab(df.dead_or_alive, df.sex)

sex            F   M
dead_or_alive
alive          5  28
dead           5  37

In [ ]:
import scipy.stats as stats
from scipy.stats import chi2_contingency

chi2, p, dof, expected = chi2_contingency([[5,28], [5,37]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.004682817182817172 ,p-value: 0.9454424555332505

In [ ]:
pd.crosstab(df.dead_or_alive, df.injury_mech_code, normalize='index')

injury_mech_code       2.0       3.0   4.0       5.0       6.0
dead_or_alive
alive             0.034483  0.275862  0.00  0.655172  0.034483
dead              0.025000  0.425000  0.15  0.325000  0.075000

In [ ]:
pd.crosstab(df.dead_or_alive, df.injury_mech_code)

injury_mech_code  2.0  3.0  4.0  5.0  6.0
dead_or_alive
alive               1    8    0   19    1
dead                1   17    6   13    3

In [ ]:
pd.crosstab(df.dead_or_alive, df.cohort, normalize='index')

cohort                1         2         3         4
dead_or_alive
alive          0.333333  0.303030  0.151515  0.212121
dead           0.309524  0.285714  0.166667  0.238095

In [ ]:
pd.crosstab(df.dead_or_alive, df.cspine_injury_level, normalize='index')

cspine_injury_level      C1-4     C5-T1         L
dead_or_alive
alive                0.333333  0.666667  0.000000
dead                 0.205128  0.769231  0.025641

In [ ]:
pd.crosstab(df.dead_or_alive, df.cspine_injury_level)

cspine_injury_level  C1-4  C5-T1  L
dead_or_alive
alive                  11     22  0
dead                    8     30  1

In [ ]:
chi2, p, dof, expected = chi2_contingency([[11,22], [8,30]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.8047121680258802 ,p-value: 0.3696882325287085

In [ ]:
pd.crosstab(df.dead_or_alive, df.paralysis, normalize='index')

paralysis             n         y
dead_or_alive
alive          0.636364  0.363636
dead           0.292683  0.707317

In [ ]:
pd.crosstab(df.dead_or_alive, df.paralysis)

paralysis       n   y
dead_or_alive
alive          21  12
dead           12  29

In [ ]:
chi2, p, dof, expected = chi2_contingency([[21,12], [12,29]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 7.404976158207458 ,p-value: 0.006504370573949941

In [ ]:
pd.crosstab(df.dead_or_alive, df.asia_grade, normalize='index')

asia_grade            A         B         C         D         E
dead_or_alive
alive          0.290323  0.258065  0.064516  0.096774  0.290323
dead           0.684211  0.263158  0.052632  0.000000  0.000000

In [ ]:
pd.crosstab(df.dead_or_alive, df.asia_grade)

asia_grade      A   B  C  D  E
dead_or_alive
alive           9   8  2  3  9
dead           26  10  2  0  0

In [ ]:
df.columns

Index(['mrn', 'age', 'sex', 'injury_date', 'injury_mech', 'injury_mech_code',
       'injury_to_moi', 'time_moi_ed', 'cspine_injury', 'cspine_injury_level',
       'paralysis', 'ao', 'imaging_type', 'imaging_code', 'cord_signal_change',
       'asia_grade', 'other_injuries', 'other_injuries_code', 'phx',
       'admit_bp', 'admit_sbp', 'admit_dbp', 'admit_hr', 'admit_o2',
       'admit_o2_code', 'admit_rr', 'comments', 'asa_score_preop', 'procedure',
       'admit_date', 'cohort', 'surgery_code', 'surgery_date',
       'days_to_surgery', 'death_date', 'los', 'cod', 'dead_or_alive',
       'comments.1', 'dyspnea_on_pres', 'hotn_on_pres', 'brady_on_pres',
       'other_on_pres', 'pre_op_hotn', 'pre_op_brady', 'pre_op_desat',
       'pre_op_febrile', 'pre_op_other', 'post_op_complication',
       'days_surgery_to_complication', 'post_op_hotn', 'post_op_brady',
       'post_op_desat', 'post_op_febrile', 'post_op_other',
       'days_to_death_after_surgery', 'cod_pneumonia', 'cod_resp_failure',
       'cod_hotn', 'received_any_icu_intervention', 'vent', 'trach',
       'inotrope', 'discharge_date', 'payment', 'total_bill', 'cost_surgery',
       'cost_radiology', 'cost_waived', 'cost_outstanding'],
      dtype='object')

In [ ]:
pd.crosstab(df.dead_or_alive, df.other_injuries_code, normalize='index')

other_injuries_code         n       unk         y
dead_or_alive
alive                0.448276  0.172414  0.379310
dead                 0.292683  0.146341  0.560976

In [ ]:
pd.crosstab(df.dead_or_alive, df.other_injuries_code)

other_injuries_code   n  unk   y
dead_or_alive
alive                13    5  11
dead                 12    6  23

In [ ]:
chi2, p, dof, expected = chi2_contingency([[13,11], [12,23]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 1.562281162464986 ,p-value: 0.21133152658345533

In [ ]:
pd.crosstab(df.dead_or_alive, df.surgery_code)

surgery_code    n   y
dead_or_alive
alive           5  28
dead           18  24

In [ ]:
chi2, p, dof, expected = chi2_contingency([[5,28], [18,24]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 5.432169732441471 ,p-value: 0.019769102212456806

In [ ]:
pd.crosstab(df.dead_or_alive, df.dyspnea_on_pres)

dyspnea_on_pres   n   y
dead_or_alive
alive            26   1
dead             26  15

In [ ]:
chi2, p, dof, expected = chi2_contingency([[26,1], [26,15]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 8.040181363352094 ,p-value: 0.004575095606466026

In [ ]:
pd.crosstab(df.dead_or_alive, df.hotn_on_pres)

hotn_on_pres    n   y
dead_or_alive
alive          20   7
dead           27  14

In [ ]:
chi2, p, dof, expected = chi2_contingency([[20,7], [27,14]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.2022059126366341 ,p-value: 0.6529461577898585

In [ ]:
pd.crosstab(df.dead_or_alive, df.hotn_on_pres, normalize='index')

hotn_on_pres          n         y
dead_or_alive
alive          0.740741  0.259259
dead           0.658537  0.341463

In [ ]:
pd.crosstab(df.dead_or_alive, df.brady_on_pres)

brady_on_pres   n   y
dead_or_alive
alive          14  13
dead           28  13

In [ ]:
chi2, p, dof, expected = chi2_contingency([[14,13], [28,13]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 1.232145752470955 ,p-value: 0.2669901458197034

In [ ]:
pd.crosstab(df.dead_or_alive, df.brady_on_pres, normalize='index')

brady_on_pres         n         y
dead_or_alive
alive          0.518519  0.481481
dead           0.682927  0.317073

In [ ]:
pd.crosstab(df.dead_or_alive, df.other_on_pres)

other_on_pres   n   y
dead_or_alive
alive          24   3
dead           18  23

In [ ]:
chi2, p, dof, expected = chi2_contingency([[24,3], [18,23]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 12.110849704345641 ,p-value: 0.0005012928717588327

In [ ]:
pd.crosstab(df.dead_or_alive, df.other_on_pres, normalize='index')

other_on_pres         n         y
dead_or_alive
alive          0.888889  0.111111
dead           0.439024  0.560976

In [ ]:
pd.crosstab(df.dead_or_alive, df.pre_op_desat)

pre_op_desat    n   y
dead_or_alive
alive          24   2
dead           18  23

In [ ]:
chi2, p, dof, expected = chi2_contingency([[24,2], [18,23]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 13.935512150451173 ,p-value: 0.00018919013445487618

In [ ]:
pd.crosstab(df.dead_or_alive, df.pre_op_hotn)

pre_op_hotn     n   y
dead_or_alive
alive          19   8
dead           14  27

In [ ]:
chi2, p, dof, expected = chi2_contingency([[19,8], [14,27]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 7.163271898231248 ,p-value: 0.00744113421770857

In [ ]:
pd.crosstab(df.dead_or_alive, df.pre_op_brady)

pre_op_brady    n  u   y
dead_or_alive
alive          14  0  13
dead           26  1  14

In [ ]:
chi2, p, dof, expected = chi2_contingency([[14,13], [27,14]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.812427118550018 ,p-value: 0.36740364396379765

In [ ]:
pd.crosstab(df.dead_or_alive, df.pre_op_febrile)

pre_op_febrile   n  y
dead_or_alive
alive           25  1
dead            34  7

In [ ]:
chi2, p, dof, expected = chi2_contingency([[25,1], [34,7]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 1.5388366736095649 ,p-value: 0.21479104704336563

In [ ]:
pd.crosstab(df.dead_or_alive, df.pre_op_other)

pre_op_other    n   y
dead_or_alive
alive          25   1
dead           25  16

In [ ]:
chi2, p, dof, expected = chi2_contingency([[25,1], [25,16]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 8.623430912702792 ,p-value: 0.0033186618131245136

In [ ]:
pd.crosstab(df.dead_or_alive, df.post_op_complication)

post_op_complication   n   y
dead_or_alive
alive                 16   5
dead                   0  24

In [ ]:
chi2, p, dof, expected = chi2_contingency([[16,5], [0,24]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 25.146676801108377 ,p-value: 5.31311322624024e-07

In [ ]:
pd.crosstab(df.dead_or_alive, df.post_op_desat)

post_op_desat   n   y
dead_or_alive
alive          18   2
dead            3  20

In [ ]:
chi2, p, dof, expected = chi2_contingency([[18,2], [3,20]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 22.369277009222664 ,p-value: 2.24943786126593e-06

In [ ]:
pd.crosstab(df.dead_or_alive, df.post_op_brady)

post_op_brady   n  y
dead_or_alive
alive          20  0
dead           14  9

In [ ]:
chi2, p, dof, expected = chi2_contingency([[20,0], [14,9]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 7.674458297811879 ,p-value: 0.005600790434381193

In [ ]:
pd.crosstab(df.dead_or_alive, df.post_op_hotn)

post_op_hotn    n   y
dead_or_alive
alive          19   1
dead            9  14

In [ ]:
chi2, p, dof, expected = chi2_contingency([[19,1], [9,14]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 12.34363742236025 ,p-value: 0.00044249199838416396

In [ ]:
pd.crosstab(df.dead_or_alive, df.post_op_febrile)

post_op_febrile   n  y
dead_or_alive
alive            20  0
dead             15  8

In [ ]:
chi2, p, dof, expected = chi2_contingency([[20,0], [15,8]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 6.404012034161491 ,p-value: 0.011386276804276093

In [ ]:
pd.crosstab(df.dead_or_alive, df.post_op_other)

post_op_other   n   y
dead_or_alive
alive          16   4
dead            6  17

In [ ]:
chi2, p, dof, expected = chi2_contingency([[16,4], [6,17]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 10.380184217955954 ,p-value: 0.0012737498501782802

In [ ]:
pd.crosstab(df.dead_or_alive, df.cod_resp_failure)

cod_resp_failure  n   y
dead_or_alive
dead              5  37

In [ ]:
pd.crosstab(df.surgery_code, df.sex, normalize='index')

sex                  F         M
surgery_code
n             0.130435  0.869565
y             0.134615  0.865385

In [ ]:
pd.crosstab(df.surgery_code, df.injury_mech_code, normalize='index')

injury_mech_code       2.0       3.0       4.0       5.0       6.0
surgery_code
n                 0.090909  0.181818  0.090909  0.500000  0.136364
y                 0.000000  0.446809  0.085106  0.446809  0.021277

In [ ]:
pd.crosstab(df.surgery_code, df.cohort)

cohort         1   2  3   4
surgery_code
n              4   9  3   7
y             20  13  9  10

In [ ]:
chi2, p, dof, expected = chi2_contingency([[13,10], [33,19]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.09731886774004309 ,p-value: 0.7550711344943558

In [ ]:
pd.crosstab(df.dead_or_alive, df.received_any_icu_intervention)

received_any_icu_intervention   n   y
dead_or_alive
alive                          23   7
dead                            3  38

In [ ]:
chi2, p, dof, expected = chi2_contingency([[23,7], [3,38]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 32.97181832395247 ,p-value: 9.350447614022288e-09

In [ ]:
df.columns

Index(['mrn', 'age', 'sex', 'injury_date', 'injury_mech', 'injury_mech_code',
       'injury_to_moi', 'time_moi_ed', 'cspine_injury', 'cspine_injury_level',
       'paralysis', 'ao', 'imaging_type', 'imaging_code', 'cord_signal_change',
       'asia_grade', 'other_injuries', 'other_injuries_code', 'phx',
       'admit_bp', 'admit_sbp', 'admit_dbp', 'admit_hr', 'admit_o2',
       'admit_o2_code', 'admit_rr', 'comments', 'asa_score_preop', 'procedure',
       'admit_date', 'cohort', 'surgery_code', 'surgery_date',
       'days_to_surgery', 'death_date', 'los', 'cod', 'dead_or_alive',
       'comments.1', 'dyspnea_on_pres', 'hotn_on_pres', 'brady_on_pres',
       'other_on_pres', 'pre_op_hotn', 'pre_op_brady', 'pre_op_desat',
       'pre_op_febrile', 'pre_op_other', 'post_op_complication',
       'days_surgery_to_complication', 'post_op_hotn', 'post_op_brady',
       'post_op_desat', 'post_op_febrile', 'post_op_other',
       'days_to_death_after_surgery', 'cod_pneumonia', 'cod_resp_failure',
       'cod_hotn', 'received_any_icu_intervention', 'vent', 'trach',
       'inotrope', 'discharge_date', 'payment', 'total_bill', 'cost_surgery',
       'cost_radiology', 'cost_waived', 'cost_outstanding'],
      dtype='object')

# ***analysis by ASIA grade***

In [ ]:
table1 = df.groupby('asia_grade')['age'].describe()
table1

            count       mean        std   min    25%   50%    75%   max
asia_grade
A            35.0  36.600000  11.157166  19.0  29.50  35.0  42.00  63.0
B            18.0  36.888889  17.142616  10.0  28.00  34.5  45.75  72.0
C             4.0  35.250000   7.804913  24.0  33.75  37.5  39.00  42.0
D             3.0  33.000000   5.567764  27.0  30.50  34.0  36.00  38.0
E             9.0  39.444444  14.604033  15.0  32.00  42.0  53.00  55.0

In [ ]:
pd.crosstab(df.asia_grade, df.sex)

sex         F   M
asia_grade
A           6  29
B           2  16
C           0   4
D           0   3
E           0   9

In [ ]:
pd.crosstab(df.asia_grade, df.injury_mech_code, normalize='index')

injury_mech_code       2.0       3.0       4.0    5.0       6.0
asia_grade
A                 0.057143  0.371429  0.057143  0.400  0.114286
B                 0.000000  0.312500  0.187500  0.500  0.000000
C                 0.000000  0.500000  0.250000  0.250  0.000000
D                 0.000000  0.000000  0.000000  1.000  0.000000
E                 0.000000  0.375000  0.000000  0.625  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.cohort, normalize='index')

cohort             1         2         3         4
asia_grade
A           0.314286  0.257143  0.085714  0.342857
B           0.222222  0.388889  0.222222  0.166667
C           0.250000  0.250000  0.500000  0.000000
D           0.333333  0.666667  0.000000  0.000000
E           0.444444  0.222222  0.111111  0.222222

In [ ]:
pd.crosstab(df.asia_grade, df.cohort)

cohort       1  2  3   4
asia_grade
A           11  9  3  12
B            4  7  4   3
C            1  1  2   0
D            1  2  0   0
E            4  2  1   2

In [ ]:
pd.crosstab(df.asia_grade, df.cspine_injury_level, normalize='index')

cspine_injury_level      C1-4     C5-T1
asia_grade
A                    0.242424  0.757576
B                    0.277778  0.722222
C                    0.000000  1.000000
D                    0.000000  1.000000
E                    0.666667  0.333333

In [ ]:
pd.crosstab(df.asia_grade, df.cspine_injury_level)

cspine_injury_level  C1-4  C5-T1
asia_grade
A                       8     25
B                       5     13
C                       0      4
D                       0      3
E                       6      3

In [ ]:
pd.crosstab(df.asia_grade, df.paralysis, normalize='index')

paralysis          n         y
asia_grade
A           0.264706  0.735294
B           0.555556  0.444444
C           0.000000  1.000000
D           0.666667  0.333333
E           1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.paralysis)

paralysis    n   y
asia_grade
A            9  25
B           10   8
C            0   4
D            2   1
E            9   0

In [ ]:
pd.crosstab(df.asia_grade, df.other_injuries_code, normalize='index')

other_injuries_code         n       unk         y
asia_grade
A                    0.314286  0.142857  0.542857
B                    0.312500  0.187500  0.500000
C                    0.500000  0.000000  0.500000
D                    0.000000  0.500000  0.500000
E                    0.750000  0.250000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.other_injuries_code)

other_injuries_code   n  unk   y
asia_grade
A                    11    5  19
B                     5    3   8
C                     2    0   2
D                     0    1   1
E                     6    2   0

In [ ]:
pd.crosstab(df.asia_grade, df.surgery_code, normalize='index')

surgery_code         n         y
asia_grade
A             0.457143  0.542857
B             0.222222  0.777778
C             0.000000  1.000000
D             0.000000  1.000000
E             0.000000  1.000000

In [ ]:
pd.crosstab(df.asia_grade, df.surgery_code)

surgery_code   n   y
asia_grade
A             16  19
B              4  14
C              0   4
D              0   3
E              0   9

In [ ]:
pd.crosstab(df.asia_grade, df.received_any_icu_intervention, normalize='index')

received_any_icu_intervention         n         y
asia_grade
A                              0.228571  0.771429
B                              0.312500  0.687500
C                              0.500000  0.500000
D                              1.000000  0.000000
E                              0.888889  0.111111

In [ ]:
pd.crosstab(df.asia_grade, df.received_any_icu_intervention)

received_any_icu_intervention  n   y
asia_grade
A                              8  27
B                              5  11
C                              2   2
D                              3   0
E                              8   1

In [ ]:
df.groupby('asia_grade').count()

            mrn  age  sex  ...  cost_radiology  cost_waived  cost_outstanding
asia_grade                 ...
A            35   35   35  ...              24           25                23
B            18   18   18  ...              15           14                14
C             4    4    4  ...               4            4                 4
D             3    3    3  ...               3            3                 3
E             9    9    9  ...               7            7                 7

[5 rows x 69 columns]

In [ ]:
pd.crosstab(df.asia_grade, df.vent)

vent         N   Y
asia_grade
A           11  23
B            7   9
C            2   2
D            3   0
E            8   1

In [ ]:
pd.crosstab(df.asia_grade, df.vent, normalize='index')

vent               N         Y
asia_grade
A           0.323529  0.676471
B           0.437500  0.562500
C           0.500000  0.500000
D           1.000000  0.000000
E           0.888889  0.111111

In [ ]:
pd.crosstab(df.asia_grade, df.inotrope)

inotrope     N   Y
asia_grade
A           10  25
B            6  10
C            2   2
D            3   0
E            8   1

In [ ]:
pd.crosstab(df.asia_grade, df.inotrope, normalize='index')

inotrope           N         Y
asia_grade
A           0.285714  0.714286
B           0.375000  0.625000
C           0.500000  0.500000
D           1.000000  0.000000
E           0.888889  0.111111

In [ ]:
pd.crosstab(df.asia_grade, df.surgery_code, margins=True)

surgery_code   n   y  All
asia_grade
A             16  19   35
B              4  14   18
C              0   4    4
D              0   3    3
E              0   9    9
All           20  49   69

In [ ]:
table2 = df.groupby('asia_grade')['days_to_surgery'].describe()
table2

            count      mean        std  min  25%  50%   75%   max
asia_grade
A            18.0  5.777778   6.160171  1.0  2.0  3.5   5.0  20.0
B            13.0  4.615385   8.461072  1.0  1.0  2.0   2.0  31.0
C             3.0  1.333333   0.577350  1.0  1.0  1.0   1.5   2.0
D             3.0  8.333333  11.846237  1.0  1.5  2.0  12.0  22.0
E             9.0  3.333333   2.500000  1.0  1.0  3.0   5.0   8.0

In [ ]:
df.columns

Index(['mrn', 'age', 'sex', 'injury_date', 'injury_mech', 'injury_mech_code',
       'injury_to_moi', 'time_moi_ed', 'cspine_injury', 'cspine_injury_level',
       'paralysis', 'ao', 'imaging_type', 'imaging_code', 'cord_signal_change',
       'asia_grade', 'other_injuries', 'other_injuries_code', 'phx',
       'admit_bp', 'admit_sbp', 'admit_dbp', 'admit_hr', 'admit_o2',
       'admit_o2_code', 'admit_rr', 'comments', 'asa_score_preop', 'procedure',
       'admit_date', 'cohort', 'surgery_code', 'surgery_date',
       'days_to_surgery', 'death_date', 'los', 'cod', 'dead_or_alive',
       'comments.1', 'dyspnea_on_pres', 'hotn_on_pres', 'brady_on_pres',
       'other_on_pres', 'pre_op_hotn', 'pre_op_brady', 'pre_op_desat',
       'pre_op_febrile', 'pre_op_other', 'post_op_complication',
       'days_surgery_to_complication', 'post_op_hotn', 'post_op_brady',
       'post_op_desat', 'post_op_febrile', 'post_op_other',
       'days_to_death_after_surgery', 'cod_pneumonia', 'cod_resp_failure',
       'cod_hotn', 'received_any_icu_intervention', 'vent', 'trach',
       'inotrope', 'discharge_date', 'payment', 'total_bill', 'cost_surgery',
       'cost_radiology', 'cost_waived', 'cost_outstanding'],
      dtype='object')

In [ ]:
table3 = df.groupby('asia_grade')['days_surgery_to_complication'].describe()
table3

            count       mean       std   min   25%   50%   75%   max
asia_grade
A            13.0   5.846154  6.938373   0.0   1.0   3.0   8.0  23.0
B             5.0   4.400000  1.673320   2.0   4.0   4.0   6.0   6.0
C             1.0  26.000000       NaN  26.0  26.0  26.0  26.0  26.0
D             0.0        NaN       NaN   NaN   NaN   NaN   NaN   NaN
E             0.0        NaN       NaN   NaN   NaN   NaN   NaN   NaN

In [ ]:
table4 = df.groupby('asia_grade')['days_to_death_after_surgery'].describe()
table4

            count       mean        std  min  25%  50%   75%   max
asia_grade
A            13.0  13.538462  10.030083  0.0  6.0  9.0  19.0  33.0
B             5.0  10.600000   4.929503  6.0  7.0  9.0  13.0  18.0
C             1.0   9.000000        NaN  9.0  9.0  9.0   9.0   9.0
D             0.0        NaN        NaN  NaN  NaN  NaN   NaN   NaN
E             0.0        NaN        NaN  NaN  NaN  NaN   NaN   NaN

In [ ]:
pd.crosstab(df.asia_grade, df.dyspnea_on_pres, normalize='index')

dyspnea_on_pres         n         y
asia_grade
A                0.628571  0.371429
B                0.875000  0.125000
C                1.000000  0.000000
D                1.000000  0.000000
E                1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.dyspnea_on_pres)

dyspnea_on_pres   n   y
asia_grade
A                22  13
B                14   2
C                 4   0
D                 1   0
E                 8   0

In [ ]:
pd.crosstab(df.asia_grade, df.hotn_on_pres, normalize='index')

hotn_on_pres         n         y
asia_grade
A             0.685714  0.314286
B             0.625000  0.375000
C             0.500000  0.500000
D             0.000000  1.000000
E             1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.hotn_on_pres)

hotn_on_pres   n   y
asia_grade
A             24  11
B             10   6
C              2   2
D              0   1
E              8   0

In [ ]:
pd.crosstab(df.asia_grade, df.brady_on_pres, normalize='index')

brady_on_pres         n         y
asia_grade
A              0.514286  0.485714
B              0.562500  0.437500
C              0.750000  0.250000
D              1.000000  0.000000
E              0.875000  0.125000

In [ ]:
pd.crosstab(df.asia_grade, df.brady_on_pres)

brady_on_pres   n   y
asia_grade
A              18  17
B               9   7
C               3   1
D               1   0
E               7   1

In [ ]:
pd.crosstab(df.asia_grade, df.other_on_pres, normalize='index')

other_on_pres         n         y
asia_grade
A              0.514286  0.485714
B              0.687500  0.312500
C              0.750000  0.250000
D              1.000000  0.000000
E              1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.other_on_pres)

other_on_pres   n   y
asia_grade
A              18  17
B              11   5
C               3   1
D               1   0
E               8   0

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_hotn, normalize='index')

pre_op_hotn     n     y
asia_grade
A            0.40  0.60
B            0.50  0.50
C            0.25  0.75
D            0.00  1.00
E            1.00  0.00

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_hotn)

pre_op_hotn   n   y
asia_grade
A            14  21
B             8   8
C             1   3
D             0   1
E             8   0

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_brady, normalize='index')

pre_op_brady         n         u         y
asia_grade
A             0.485714  0.028571  0.485714
B             0.500000  0.000000  0.500000
C             0.750000  0.000000  0.250000
D             1.000000  0.000000  0.000000
E             0.875000  0.000000  0.125000

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_brady)

pre_op_brady   n  u   y
asia_grade
A             17  1  17
B              8  0   8
C              3  0   1
D              1  0   0
E              7  0   1

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_desat, normalize='index')

pre_op_desat         n         y
asia_grade
A             0.485714  0.514286
B             0.666667  0.333333
C             1.000000  0.000000
D             1.000000  0.000000
E             1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_desat)

pre_op_desat   n   y
asia_grade
A             17  18
B             10   5
C              4   0
D              1   0
E              8   0

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_febrile, normalize='index')

pre_op_febrile         n         y
asia_grade
A               0.828571  0.171429
B               0.866667  0.133333
C               1.000000  0.000000
D               1.000000  0.000000
E               1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_febrile)

pre_op_febrile   n  y
asia_grade
A               29  6
B               13  2
C                4  0
D                1  0
E                8  0

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_other, normalize='index')

pre_op_other         n         y
asia_grade
A             0.685714  0.314286
B             0.800000  0.200000
C             1.000000  0.000000
D             1.000000  0.000000
E             1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.pre_op_other)

pre_op_other   n   y
asia_grade
A             24  11
B             12   3
C              4   0
D              1   0
E              8   0

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_complication, normalize='index')

post_op_complication         n         y
asia_grade
A                     0.200000  0.800000
B                     0.363636  0.636364
C                     0.250000  0.750000
D                     1.000000  0.000000
E                     0.857143  0.142857

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_complication)

post_op_complication  n   y
asia_grade
A                     4  16
B                     4   7
C                     1   3
D                     1   0
E                     6   1

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_hotn, normalize='index')

post_op_hotn         n         y
asia_grade
A             0.500000  0.500000
B             0.636364  0.363636
C             0.750000  0.250000
D             1.000000  0.000000
E             1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_hotn)

post_op_hotn  n  y
asia_grade
A             9  9
B             7  4
C             3  1
D             1  0
E             7  0

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_brady, normalize='index')

post_op_brady         n         y
asia_grade
A              0.722222  0.277778
B              0.727273  0.272727
C              0.750000  0.250000
D              1.000000  0.000000
E              1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_brady)

post_op_brady   n  y
asia_grade
A              13  5
B               8  3
C               3  1
D               1  0
E               7  0

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_desat, normalize='index')

post_op_desat         n         y
asia_grade
A              0.277778  0.722222
B              0.454545  0.545455
C              0.500000  0.500000
D              1.000000  0.000000
E              1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_desat)

post_op_desat  n   y
asia_grade
A              5  13
B              5   6
C              2   2
D              1   0
E              7   0

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_febrile, normalize='index')

post_op_febrile         n         y
asia_grade
A                0.833333  0.166667
B                0.636364  0.363636
C                1.000000  0.000000
D                1.000000  0.000000
E                1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_febrile)

post_op_febrile   n  y
asia_grade
A                15  3
B                 7  4
C                 4  0
D                 1  0
E                 7  0

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_other, normalize='index')

post_op_other         n         y
asia_grade
A              0.388889  0.611111
B              0.545455  0.454545
C              0.250000  0.750000
D              1.000000  0.000000
E              0.857143  0.142857

In [ ]:
pd.crosstab(df.asia_grade, df.post_op_other)

post_op_other  n   y
asia_grade
A              7  11
B              6   5
C              1   3
D              1   0
E              6   1

In [ ]:
pd.crosstab(df.asia_grade, df.dead_or_alive, normalize='index')

dead_or_alive     alive      dead
asia_grade
A              0.257143  0.742857
B              0.444444  0.555556
C              0.500000  0.500000
D              1.000000  0.000000
E              1.000000  0.000000

In [ ]:
pd.crosstab(df.asia_grade, df.dead_or_alive)

dead_or_alive  alive  dead
asia_grade
A                  9    26
B                  8    10
C                  2     2
D                  3     0
E                  9     0

In [ ]:
table5 = df.groupby('asia_grade')['injury_to_moi'].describe()
table5

            count      mean       std   min    25%  50%  75%   max
asia_grade
A            33.0  3.016515  3.484892  0.25  0.670  2.0  4.0  14.0
B            17.0  2.683824  2.132215  0.33  1.000  3.0  3.0   7.0
C             4.0  5.375000  8.439737  0.50  0.875  1.5  6.0  18.0
D             3.0  4.666667  2.516611  2.00  3.500  5.0  6.0   7.0
E             9.0  4.666667  4.062019  1.00  1.000  4.0  6.0  14.0

In [ ]:
df.groupby('cohort').count()

        mrn  age  sex  ...  cost_radiology  cost_waived  cost_outstanding
cohort                 ...
1        24   24   24  ...              24           24                24
2        22   22   22  ...              21           21                21
3        12   12   12  ...              10           11                11
4        17   17   17  ...               3            3                 1

[4 rows x 69 columns]

# ***by cohort analysis (2019 vs 2020) ***

In [ ]:
df

In [ ]:
df2 = df
df2

In [ ]:
d = {1.0: 2019, 2.0: 2019, 3.0: 2020, 4.0: 2020}
df2['cohort'] = df2['cohort'].map(d).fillna(df2['cohort'])
df2

           mrn  age sex  ... cost_radiology cost_waived  cost_outstanding
0    B00363589   30   M  ...            0.0         0.0        5832684.00
1    B00357527   27   M  ...            0.0         0.0        4266805.18
2    B00364494   38   M  ...        31500.0         0.0        8427844.00
3    B00365351   54   M  ...        20000.0         0.0        5957318.00
4   B00368605    22   M  ...        40000.0         0.0              0.00
..         ...  ...  ..  ...            ...         ...               ...
70    B0378069   39   M  ...            NaN         NaN               NaN
71   B00378616   36   M  ...        21600.0         0.0               NaN
72   B00379141   40   F  ...            NaN         NaN               NaN
73   B00379734   50   F  ...            NaN         NaN               NaN
74   B00379484   41   M  ...            NaN         NaN               NaN

[75 rows x 70 columns]

In [ ]:
table6 = df.groupby('cohort')['age'].describe()
table6

        count       mean        std   min   25%   50%   75%   max
cohort
2019     46.0  35.913043  14.055171  10.0  27.0  35.0  44.0  63.0
2020     29.0  40.724138  11.594015  21.0  32.0  40.0  46.0  72.0

In [ ]:
pd.crosstab(df.cohort, df.sex, normalize='index')

sex            F         M
cohort
2019    0.086957  0.913043
2020    0.206897  0.793103

In [ ]:
pd.crosstab(df.cohort, df.injury_mech_code, normalize='index')

injury_mech_code       2.0       3.0       4.0       5.0       6.0
cohort
2019              0.024390  0.463415  0.073171  0.365854  0.073171
2020              0.035714  0.214286  0.107143  0.607143  0.035714

In [ ]:
pd.crosstab(df.cohort, df.cspine_injury_level, normalize='index')

cspine_injury_level      C1-4     C5-T1         L
cohort
2019                 0.227273  0.750000  0.022727
2020                 0.321429  0.678571  0.000000

In [ ]:
pd.crosstab(df.cohort, df.asia_grade, normalize='index')

asia_grade         A         B         C         D         E
cohort
2019        0.476190  0.261905  0.047619  0.071429  0.142857
2020        0.555556  0.259259  0.074074  0.000000  0.111111

In [ ]:
pd.crosstab(df.cohort, df.paralysis, normalize='index')

paralysis         n         y
cohort
2019       0.391304  0.608696
2020       0.535714  0.464286

In [ ]:
pd.crosstab(df.cohort, df.paralysis)

paralysis   n   y
cohort
2019       18  28
2020       15  13

In [ ]:
chi2, p, dof, expected = chi2_contingency([[18,28], [15,13]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.9427370967667892 ,p-value: 0.3315749230929992

In [ ]:
pd.crosstab(df.cohort, df.other_injuries_code)

other_injuries_code   n  unk   y
cohort
2019                 15   10  17
2020                 10    1  17

In [ ]:
chi2, p, dof, expected = chi2_contingency([[15,17], [10,17]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.24746017156862776 ,p-value: 0.61886915377014

In [ ]:
pd.crosstab(df.cohort, df.other_injuries_code, normalize='index')

other_injuries_code         n       unk         y
cohort
2019                 0.357143  0.238095  0.404762
2020                 0.357143  0.035714  0.607143

In [ ]:
pd.crosstab(df.cohort, df.surgery_code)

surgery_code   n   y
cohort
2019          13  33
2020          10  19

In [ ]:
chi2, p, dof, expected = chi2_contingency([[13,33], [10,9]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 2.5082984517058238 ,p-value: 0.11324815001621158

In [ ]:
pd.crosstab(df.cohort, df.received_any_icu_intervention, normalize='index')

received_any_icu_intervention         n         y
cohort
2019                           0.363636  0.636364
2020                           0.370370  0.629630

In [ ]:
chi2, p, dof, expected = chi2_contingency([[16,28], [10,17]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.038629708768597684 ,p-value: 0.8441840689979703

In [ ]:
pd.crosstab(df.cohort, df.vent, normalize='index')

vent           N         Y
cohort
2019    0.441860  0.558140
2020    0.464286  0.535714

In [ ]:
chi2, p, dof, expected = chi2_contingency([[19,24], [13,15]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.0034139340552857924 ,p-value: 0.9534070108945869

In [ ]:
pd.crosstab(df.cohort, df.inotrope, normalize='index')

inotrope         N         Y
cohort
2019      0.363636  0.636364
2020      0.535714  0.464286

In [ ]:
df.columns

Index(['mrn', 'age', 'sex', 'injury_date', 'injury_mech', 'injury_mech_code',
       'injury_to_moi', 'time_moi_ed', 'cspine_injury', 'cspine_injury_level',
       'paralysis', 'ao', 'imaging_type', 'imaging_code', 'cord_signal_change',
       'asia_grade', 'other_injuries', 'other_injuries_code', 'phx',
       'admit_bp', 'admit_sbp', 'admit_dbp', 'admit_hr', 'admit_o2',
       'admit_o2_code', 'admit_rr', 'comments', 'asa_score_preop', 'procedure',
       'admit_date', 'cohort', 'surgery_code', 'surgery_date',
       'days_to_surgery', 'death_date', 'los', 'cod', 'dead_or_alive',
       'comments.1', 'dyspnea_on_pres', 'hotn_on_pres', 'brady_on_pres',
       'other_on_pres', 'pre_op_hotn', 'pre_op_brady', 'pre_op_desat',
       'pre_op_febrile', 'pre_op_other', 'post_op_complication',
       'days_surgery_to_complication', 'post_op_hotn', 'post_op_brady',
       'post_op_desat', 'post_op_febrile', 'post_op_other',
       'days_to_death_after_surgery', 'cod_pneumonia', 'cod_resp_failure',
       'cod_hotn', 'received_any_icu_intervention', 'vent', 'trach',
       'inotrope', 'discharge_date', 'payment', 'total_bill', 'cost_surgery',
       'cost_radiology', 'cost_waived', 'cost_outstanding'],
      dtype='object')

In [ ]:
table7 = df.groupby('cohort')['days_to_surgery'].describe()
table7

        count      mean       std  min  25%  50%   75%   max
cohort
2019     30.0  4.433333  5.733647  1.0  1.0  2.0  4.75  22.0
2020     18.0  5.944444  8.062055  1.0  2.0  2.0  5.00  31.0

In [ ]:
table8 = df.groupby('cohort')['days_surgery_to_complication'].describe()
table8

        count       mean       std  min  25%  50%   75%   max
cohort
2019     11.0   2.272727  2.412091  0.0  0.5  2.0   3.5   8.0
2020      9.0  11.000000  8.674676  1.0  6.0  8.0  14.0  26.0

In [ ]:
table9 = df.groupby('cohort')['days_to_death_after_surgery'].describe()
table9

        count       mean       std  min   25%   50%    75%   max
cohort
2019     13.0   9.615385  8.568727  0.0   5.0   7.0   9.00  30.0
2020      8.0  17.125000  7.845608  8.0  12.0  17.5  19.25  33.0

In [ ]:
pd.crosstab(df.cohort, df.dyspnea_on_pres)

dyspnea_on_pres   n  y
cohort
2019             34  7
2020             18  9

In [ ]:
chi2, p, dof, expected = chi2_contingency([[34,7], [18,9]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 1.5737787506080194 ,p-value: 0.20965909505012106

In [ ]:
pd.crosstab(df.cohort, df.hotn_on_pres, normalize='index')

hotn_on_pres         n         y
cohort
2019          0.731707  0.268293
2020          0.629630  0.370370

In [ ]:
chi2, p, dof, expected = chi2_contingency([[30,11], [17,10]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 0.38841708241466055 ,p-value: 0.5331326260329587

In [ ]:
pd.crosstab(df.cohort, df.brady_on_pres)

brady_on_pres   n   y
cohort
2019           29  12
2020           13  14

In [ ]:
chi2, p, dof, expected = chi2_contingency([[29,12], [13,14]])
print(f'Chi-square Statistic : {chi2} ,p-value: {p}')

Chi-square Statistic : 2.6244974537657453 ,p-value: 0.10522581593671022

In [ ]:
pd.crosstab(df.cohort, df.post_op_complication, normalize='index')

post_op_complication         n         y
cohort
2019                  0.370370  0.629630
2020                  0.333333  0.666667

In [ ]:
pd.crosstab(df.cohort, df.cod_hotn)

cod_hotn  n   y
cohort
2019      3  22
2020      5  12

In [ ]:
pd.crosstab(df.cohort, df.dead_or_alive, normalize='index')

dead_or_alive     alive      dead
cohort
2019           0.456522  0.543478
2020           0.413793  0.586207